.search-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto 0;

  .search-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;

    .search-bar {
      width: 50%;
      height: 50px;
      padding: 5px 25px;
      border-radius: 3px;
      border: none;
      outline: none;

      &:focus {
        box-shadow: 0 0 0 3px $main-color;
      }
    }
  }

  .filters-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .select-store-wrapper {
      position: relative;

      .select-store {
        -webkit-appearance: none;
        display: flex;
        padding: 3px 5px;
        width: 130px;
        border-radius: 5px;
        border: none;
        outline: none;

        &:focus {
          box-shadow: 0 0 0 3px $main-color;
        }
      }

      &::after {
        position: absolute;
        content: '';
        right: 10px;
        top: 50%;
        width: 7px;
        height: 2px;
        background-color: black;
        z-index: 3;
        transform: translateY(-50%) rotate(45deg);
      }

      &::before {
        position: absolute;
        content: '';
        right: 6px;
        top: 50%;
        width: 7px;
        height: 2px;
        background-color: black;
        z-index: 3;
        transform: translateY(-50%) rotate(-45deg);
      }
    }

    .input-price {
      position: relative;

      &::after {
        content: 'Incorrect input';
        position: absolute;
        visibility: hidden;
        left: 0;
        top: 35px;
        color: red;
        font-size: 14px;
      }

      &.error {
        &::after {
          visibility: visible;
        }
      }

      input {
        padding: 3px 5px;
        width: 120px;
        border-radius: 5px;
        border: none;
        outline: none;

        &:focus {
          box-shadow: 0 0 0 3px $main-color;
        }
      }
    }

    .input-discount {
      display: flex;
      align-items: center;
      color: #fff;

      input {
        height: 15px;
        width: 15px;
        margin-right: 5px;
        outline: none;

        &:focus {
          box-shadow: 0 0 0 3px $main-color;
        }
      }
    }
  }

  .btn-search {
    padding: 5px 25px;
    background-color: $main-color;
    color: white;
    border-radius: 3px;
    transition: 0.3s background-color;
    border: none;
    outline: none;

    &:hover {
      background-color: lighten($color: $main-color, $amount: 5%);
    }

    &:focus {
      background-color: darken($color: $main-color, $amount: 5%);
      box-shadow: 0 0 0 3px $main-color;
    }
  }
}
